.googlelogo{
    text-align: center;
    margin-top: 200px;
}

.google-img{
    height: 100px;
    width: 300px;
}

#shadow-box{ 
    border-style:groove;
    align-items: center;
    border-radius: 23px;
    box-sizing:content-box;
    width:640px;
    margin: 0 auto;
    border: 1px solid gray;
    
}

.search-image-bar{
    width:640px;
    margin: 0 auto;
    border:1px solid gray;
    border-radius: 22px;
}

.search-icon{
    position: relative;
    height: 15px;
    margin-top:10px;
    width: 15px;
    margin-left:-40px; 
}

.search-bar{
        width: 550px;
        padding-top:20px; 
        font-size:18px;
        border:none;
        padding-top: 15px;
        margin-bottom:10px;
}

.search-btn{
    padding: 12px 20px;
    color:#646464;
    background: #f2f2f2;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
    margin-top: 20px;
}

.search-btn:hover{
    border: 1px solid #ccc;
}
